.label-circle {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.multiselect__tag {
  border-radius: 50px!important;
  padding: 0.25rem 1.25rem!important;
  background-color: $primary!important;
  display: inline-flex!important;
  align-items: center!important;
  i {
    position: static;
    display: inline;
    width: auto!important;
    margin-left: 0.5rem;
    &::after {
      color: $white;
      font-size: 1rem;
    }
  }
}